<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,700i" rel="stylesheet">
    
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title>Tunr</title>
</head>

<body>
   
    <nav class="navbar navbar-default navbar-fixed-top header-section">
        <a class='main-title' href="/"><h1>TUNR</h1></a>
        
        <nav class="navbar navbar-default main-nav">
            
            <div class="add-button" ><a href="/artists/new">+</a></div>
        </nav>
    </nav>
    
    {{{ body }}}
    
</body>

</html>
