<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tunr</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header class="site-header">
      <a href="/">
        <h1>Tunr</h1>
      </a>
      <nav>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/artists">Artists</a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      {{{ body }}}
    </main>

    <footer class="site-footer">
      Copyright 2017
    </footer>

  </body>
</html>
