/* base styles */
:root {
  --blue-dark: #0A2463;
  --red: #FB3640;
  --grey-dark: #605F5E;
  --blue-light: #247BA0;
  --grey-light: #E2E2E2;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--grey-dark);
}

body * {
  font-weight: 300;
}

a {
  color: var(--blue-dark);
}

label {
  display: block
}

img {
  width: 100%;
}

/* header */
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: 1rem auto;
}

.site-header > a {
  text-decoration: none;
}

nav > ul li {
  display: inline;
}

nav a {
  padding: 1rem 1.5rem;
}

/* footer */
.site-footer {
  padding: 2rem 0;
  text-align: center;
}

/* main */
main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

main a {
  text-decoration: none;
}

.artists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artists > h3 {
  display: block;
  width: 100%;
}

/* artist-tease */
.artist-tease {
  display: block;
  position: relative;
  width: 33%;
  border: 1px solid var(--grey-light);
  border-radius: 6px;
  background-color: white;
  margin: 0.3333%;
}

.artist-tease:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em var(--grey-light);
  z-index: -1;
  transition: all 300ms ease;
  transform: scale(0.95);
}

.artist-tease:hover:after {
  transform: scale(1);
}

.artist-tease header {
  overflow: hidden;
}

.artist-tease div {
  text-align: center;
  padding: 1rem;
}

.artist-tease h4 {
  font-weight: 400;
}

/* artist index */
.button {
  display: block;
  width: 100%;
  background-color: var(--blue-dark);
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  margin: 1rem 0;
}
