<h3>Check out the <a href="/artists">Artists</a> page for information on all artists</h3>

<div class="artists">
  <h3>Featured Artists:</h3>
  {{#each artists}}
    {{> 'artist-tease'}}
  {{/each }}
</div>

