<form class="new-artist" action="/artists/edit/{{ id }}" method="POST">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" value="{{ name }}"/>
  </p>

  <p>
    <label for="image">Image:</label>
    <input type="url" name="image" placeholder="Image URL" value="{{ image }}"/>
  </p>

  <p>
    <label for="description">Description:</label>
    <textarea name="description" id="" rows="8" cols="40">{{ description }}</textarea>
  </p>

  <button type="submit">Submit</button>

</form>
