<form class="new-artist" action="/artists/new" method="POST">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" />
  </p>

  <p>
    <label for="image">Image:</label>
    <input type="url" name="image" placeholder="Image URL" />
  </p>

  <p>
    <label for="description">Description:</label>
    <textarea name="description" id="" rows="8" cols="40"></textarea>
  </p>

  <button type="submit">Submit</button>

</form>
